cache/
upgrade/
config.inc.php

# Los avatares
files/avatar/*_120.jpg
files/avatar/*_50.jpg
files/uploads/*.*

# Archivo generado desde el install
.lock

# Solo el theme default
themes/*
!themes/default