cache/
files/optimizer/*.*

# Los avatares
files/avatar/*_120.jpg
files/avatar/*_50.jpg
files/uploads/*.*
files/portadas/*.*

# Archivos
config.inc.php
private/tools/tool.backup.php
private/tools/tool.optimizer.php
upgrade-version.php
*.zip
*.log

# Archivo generado desde el install
.lock

# Solo el theme default
public/themes/*
!public/themes/default
!public/themes/beatrix