automatizer/
cache/
upgrade/
optimizer/
PullIn/
PullIn_/

# Los avatares
files/avatar/*_120.jpg
files/avatar/*_50.jpg
files/posts/*.*
files/uploads/*.*
files/portadas/*.*

# Archivos
config.inc.php
inc/ext/backup.php
inc/ext/optimizer.php
inc/ext/thumb.php
inc/php/newsletter.php
*.zip

# Archivo generado desde el install
.lock
.env

# Solo el theme default
themes/*
!themes/default