#loading {
	position: fixed;
	top: 1rem;
	left: 1rem;
	background-color: var(--bs-content-bg);
	padding: 0.4rem;
	border-radius: .3rem;
	z-index: 99;
}
main {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}
main #RegistroForm,
main .formulario {
	width: 400px;
	max-height: 100%;
	min-height: 100vh;
	position: relative;
}
main #RegistroForm > *,
main .formulario > * {
	width: 100%;
}
.mensajeAviso {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(var(--bs-content-bg-hsl));
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-align: center;
}
.button-mode {
    width: 2.5rem;
    height: 2.5rem;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: #0003;
}
.button-mode span {
    font-size: 1.7rem;
}
.help {
	position: absolute;
	top: 0;
	right: 0;
}
#password-strength span,
#password2-strength span {
	display: inline-block;
	width: .8rem;
	height: .8rem;
	margin-top: 0.3rem;
	margin-right: 0.2rem;
	float: left;
	border-radius: 10em;
	background-color: #CCC;
}
/**
 * Modal
*/
#mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
	backdrop-filter: blur(4px);
	z-index: 100;
	overflow-y: auto;
}
#mydialog #dialog {
	--shadow: 0 0 0 .5rem rgba(0,0,0,.5);
	text-align: left;
	display:;
	z-index:9999;
  	box-shadow: var(--shadow); 
  	-moz-box-shadow: var(--shadow); 
  	-webkit-box-shadow: var(--shadow);
	background: var(--bs-content-bg);
	border-radius: .3rem;
	-moz-border-radius: .3rem;
	-webkit-border-radius: .3rem;
}
#mydialog.small #cuerpo {
	width: 350px;
}
#mydialog.normal #cuerpo {
	width: 450px;
}
#mydialog.big #cuerpo {
	width: 650px;
}
#mydialog.small #cuerpo,
#mydialog.normal #cuerpo,
#mydialog.big #cuerpo {
	position: relative;
}
#header_dialog {
  	color: #FFF;
 	font-size: .9rem;
  	padding: .6rem;
	background: #2e8af5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: .3rem .3rem 0 0;
}
#header_dialog #close span {
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	background-color: rgba(0,0,0,.5);
	border-radius: .3rem;
	cursor: pointer;
	text-align: center;
	line-height: 1.1rem;
}
#modalBody {
	font-size: 14px;
	line-height: 1rem;
	padding: 1.125rem 1.5rem;
}
#mydialog #procesando {
	display: none;
	background: rgba(242,242,242,.3);
	backdrop-filter: blur(2px);
	z-index:102;
	position:absolute;
	height: 100%;
	width: 100%;
}
#mydialog #procesando #mensaje {
	color:#222;
	position:relative;
	height: 100%;
	display: grid;
	place-items: center;
}
#mydialog #procesando #mensaje div {
  font-size:20px;
  font-weight:bold;
  margin-left:-25px;
  margin-top:25px;
  text-align:center;
}
#mydialog #buttons {
  	padding: .5rem 0;
  	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
#mydialog #buttons .mBtn {
	line-height: 1.6rem !important;
}
