/**
 * Modal
*/
#mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    overflow-y: auto;
}
#mydialog #dialog {
    --shadow: 0 0 0 .5rem rgba(0,0,0,.5);
    text-align: left;
    display:;
    z-index:9999;
    box-shadow: var(--shadow); 
    -moz-box-shadow: var(--shadow); 
    -webkit-box-shadow: var(--shadow);
    background: var(--bs-content-bg);
    border-radius: .3rem;
    -moz-border-radius: .3rem;
    -webkit-border-radius: .3rem;
}
#mydialog.small #cuerpo {
    width: 350px;
}
#mydialog.normal #cuerpo {
    width: 450px;
}
#mydialog.big #cuerpo {
    width: 650px;
}
#mydialog.small #cuerpo,
#mydialog.normal #cuerpo,
#mydialog.big #cuerpo {
    position: relative;
}
#header_dialog {
    color: #FFF;
    font-size: .9rem;
    padding: .6rem;
    background: #2e8af5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .3rem .3rem 0 0;
}
#header_dialog #close span {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(0,0,0,.5);
    border-radius: .3rem;
    cursor: pointer;
    text-align: center;
    line-height: 1.1rem;
}
#modalBody {
    font-size: 14px;
    line-height: 1rem;
    padding: 1.125rem 1.5rem;
}
#mydialog #procesando {
    display: none;
    background: rgba(242,242,242,.3);
    backdrop-filter: blur(2px);
    z-index:102;
    position:absolute;
    height: 100%;
    width: 100%;
}
#mydialog #procesando #mensaje {
    color:#222;
    position:relative;
    height: 100%;
    display: grid;
    place-items: center;
}
#mydialog #procesando #mensaje div {
  font-size:20px;
  font-weight:bold;
  margin-left:-25px;
  margin-top:25px;
  text-align:center;
}
#mydialog #buttons {
    padding: .5rem 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#mydialog #buttons .mBtn {
    line-height: 1.6rem !important;
}
#loading {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    background-color: var(--bs-content-bg);
}
main {
    --row-header-height: 60px;
    --row-footer-height: 2rem;
    --row-total: calc(var(--row-header-height) + var(--row-footer-height));
}
.offcanvas-header {
    padding: .8rem;
}
main header {
    height: var(--row-header-height)!important;
}
main section {
    margin-top: .6rem;
    min-height: calc(100vh - var(--row-total) - .6rem);
    width: 100%;
}
main footer {
    height: var(--row-footer-height);
    padding-bottom: 1rem;
    padding-top: 0.3rem;
}
.navbar-admin {
    background-color: var(--bs-content-bg); 
    border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);
}
.navbar-admin > div > a {
    display: none;
}
@media screen and (max-width: 768px) {
    .navbar-admin > div > a {
        display: block;

    }
}
.button-mode {
    width: 2.5rem;
    height: 2.5rem;
    bottom: var(--row-footer-height);
    right: 1rem;
    cursor: pointer;
    background-color: #0003;
}
.button-mode span {
    font-size: 1.7rem;
}
.boxy-title {
    padding: 0.3rem;
    margin-bottom: 1rem;
    border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);
}
.panel-info {
    margin-bottom: 1rem;
}
.panel-info .phpostAlfa {
    text-align: center;
    font-size: 2rem;
    padding: 4rem 0;
    text-transform: uppercase;
    font-weight: 700;
}
.data-github {
    line-height: .8rem;
    padding: 0 1rem;
    font-family: monospace!important;
}
form fieldset dl {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 1rem;
    padding: 0.5rem;
}
form fieldset dl:nth-child(2n+1) {
    background-color: #0002;
}
form fieldset dl dt span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
}
form fieldset dl dd.small .input-group {
    width: 120px!important;
}