/*
    WELLCOME
    --------------------------
*/
.phpost {
    float: left;
    width: 490px;
}
.phpost h4 {
    background-color: #4D90FE;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
	background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
	background-image: linear-gradient(top,#4D90FE,#4787ED);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
	border: 1px solid #3079ED;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}
.phpost h4.options,
.phpost h4.options > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phpost h4.options > div {
    justify-content: flex-end;
}
.list-group-item {
    padding: 0.5rem;
    display: block;
    position: relative;
    font-weight: 300!important;
    border-bottom: 1px solid #CCC;
    line-height: 1.5rem;
}
.list-group-item:last-child {
    border-bottom: 1px solid transparent;
}
.list-group-item .fw-bold {
    font-size: 1rem;
    font-weight: 400;
}
.list-group-item .text-secondary {
    color: #666;
    font-style: italic;
}
.list-group-item .badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: inline-block;
    padding: .2rem .6rem;
    background-color: #4D90FE;
    color: #FFF;
}
.data-github {
    font-size: .75rem;
    line-height: .5rem;
    padding: .5rem;
}
.pp_list {
    margin: 0;
}
.pp_list li {
    padding: 5px 10px!important;
    border: 1px solid #DDD;
    border-top: none;
    position: relative;
}
.pp_list .title {
    font-size: 14px;
}
.pp_list.stats li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pp_list.stats li span:last-child {
    font-weight: 600;
}
.pp_list li.data-github {
    padding: 0!important;
}
.pp_list li.data-github .title {
    padding: 0.3rem;
    background-color: #eee;
}
.pp_list li.data-github .title time {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-weight: bolder;
    font-size: 12px;
    background-color: #CCC;
    display: inline-block;
    padding: 0.3rem 0.6rem;
}
.pp_list li.data-github .title small {
    display: block;
    font-size: 11px;
    margin-top: 0.3rem;
    font-style: italic;
}
.pp_list li.data-github .body {
    padding: 0.5rem;
    line-height: 0.6rem;
}
.version {
    float: right;
    width:200px;
}
/* ADMIN */
#admin_menu li{
    padding-left: 22px;
    background-position: 2px center;
    background-repeat: no-repeat;
}
#admin_menu li a{
    display: block;
}
li#a_main {background-image: url(../../../public/images/icons/robot.png);}
li#a_creditos {background-image: url(../../../public/images/icons/information-shield.png);}
li#a_configs {background-image: url(../../../public/images/icons/gear.png);}
li#a_configs, li#a_registro, li#a_socials {background-image: url(../../../public/images/icons/gear.png);}
li#a_temas {background-image: url(../../../public/images/icons/color.png);}
li#a_news {background-image: url(../../../public/images/icons/newspaper.png);}
li#a_ads {background-image: url(../../../public/images/icons/currency.png);}
li#a_medals {background-image: url(../../../public/images/icons/medal.png);}
li#a_afs {background-image: url(../../../public/images/icons/block-share.png);}
li#a_fotos {background-image: url(../../../public/images/icons/photo.png);}
li#a_posts {background-image: url(../../../public/images/icons/posts.png);}
li#a_cats {background-image: url(../../../public/images/icons/category.png);}
li#a_users {background-image: url(../../../public/images/icons/users.png);}
li#a_rangos {background-image: url(../../../public/images/icons/crown.png);}
li#a_stats {background-image: url(../../../public/images/icons/chart.png);}
li#a_sesiones {background-image: url(../../../public/images/icons/find.png);}
li#a_nicks {background-image: url(../../../public/images/icons/key.png);}
li#a_blacklist {background-image: url(../../../public/images/icons/flag_black.png);}
li#a_badwords {background-image: url(../../../public/images/icons/stop.png);}

.arrastrar {
    cursor: pointer;
    transform:scale(3);
    background-color: #444;
}
.seleccionado {
    background-color: #EEE;
}
.admin_table {border:1px solid #ddd; border-width:1px 0 0 1px;width: 100%;}
.admin_table thead {background:#F4F4F4}
.admin_table th, .admin_table td {padding:3px 4px;border:1px solid #ddd; border-width:0px 1px 1px 0px; vertical-align:middle; text-align:center}

.admin_actions a{margin-right:5px;}

#admin_panel .admin_header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #B3B3B3;
    margin: -12px;
    margin-bottom: 12px;
    padding: 10px;
}
.admin_header h1 {
    background: url(../images/icons/actions.png) no-repeat left center;
    font-size: 20px;
    line-height: 24px;
    padding-left: 30px;
    margin:0;
    float: left;
}
#admin_panel fieldset {
    background-color: #FFFFFF;
    border-color: #D7D7D7 #CCCCCC #CCCCCC #D7D7D7;
    border-style: solid;
    border-width: 1px;
    margin: 5px 0;
    padding: 10px;
    position: relative;
    font-family: Verdana;
    color: #536482;
    clear: both;
}
#admin_panel legend {
    color: #115098;
    font-weight: bold;
    line-height: 1.2em;
    margin-top: -0.4em;
    padding: 1px 0;
    position: relative;
    text-transform: none;
    top: -0.2em;
    vertical-align: middle;
}
#admin_panel fieldset dl {
    height: 1%;
    overflow: hidden;
    margin-bottom: 10px;
}
#admin_panel fieldset dt {
    border-color: #CCCCCC;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    padding-top: 3px;
    text-align: left;
    width: 45%;
    float: left;
}
#admin_panel dt label {
    color: #4A5A73;
    font-weight: bold;
    text-align: left;
    padding: 0 5px 0 0;
    cursor: pointer;
}
#admin_panel dt span {
    padding: 0 5px 0 0;
}
#admin_panel dl:hover dt {border-color:#000}
#admin_panel dl:hover dt label {color:#000}
#admin_panel fieldset dd {
    border-color: #CCCCCC;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    margin: 0 0 0 45%;
    padding: 0 0 0 5px;
    vertical-align: top;
    color:#666;
}
#admin_panel dd input {
    font-size: 1em;
    max-width: 100%;
    padding: 2px;
    width: 50%;
}
#admin_panel dd label {
    color: #4A5A73;
    font-size: 1em;
    margin: 0 10px 0 0;
    white-space: nowrap;
}
#admin_panel fieldset p {
    background-color: transparent;
    border: medium none;
    margin: 0 0 5px;
    padding: 5px 0 0;
    text-align: right;
}
#admin_panel fieldset p input{
    cursor:pointer;
    float:right;
}
#admin_panel input.radio {
    background-color: transparent;
    border: medium none;
    cursor: default;
    width: auto !important;
}
.estadisticasList h4 {
    font-size: .80rem;
    padding: .4rem;
    margin: 0;
}
.estadisticasList ul {
    margin: 0;
    padding: 0;
}
.estadisticasList h4,
.estadisticasList ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.estadisticasList ul li:nth-child(2n+1) {
    background-color: #CCC8;
}
.estadisticasList ul li {
    padding: .5rem .3rem;
}
.boxy-content input:not([type="radio"], [type="checkbox"], [type="button"], [type="submit"]),
.boxy-content select,
.boxy-content textarea {
    border: 1px solid #CCC!important;
    border-radius: .325rem!important;
    box-shadow: none!important;
    width: 100%!important;
    padding: 0.325rem !important;
    box-sizing: border-box;
}