:root {
	--brown-dark: #87643a;
	--brown-light: #DA9A4E;
}
*, *::after, *::before {
	margin: 0;
	padding: 0;
	border: transparent;
	outline: transparent;
	background: transparent;
	appearance: none;
	box-sizing: content-box;
	font-family: 'Roboto', sans-serif;
}
html, body {
	width: 100%;
	height: 100vh;
}
body {
	background-color: #CCC8;
	color: #444;
	font: normal normal 1rem/1.5rem 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
a, a:visited {
  color:#153976;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
*:focus {
	outline: 0;
}

/**
 * MAIN
*/
main {
	--height-header: 3.5rem;
	--height-footer: 3rem;
	--padding-tb: 4.1rem; /* Suma de los padding de header y footer (top|bottom) */
	--calc-header-footer: calc(var(--height-header) + var(--height-footer) + var(--padding-tb));
	--height-section: calc(100vh - var(--calc-header-footer));
	--height-form: calc(var(--height-section) - 2rem);
}

/**
 * HEADER
*/
main > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #CCC;
	height: var(--height-header);
}
main > header h3 {
	font-weight: 400;
	text-align: right;
}
main > header h3 strong {
	display: block;
	font-weight: 700;
}

/**
 * SECTION
*/
main > section {
	height: var(--height-section);
	position: relative;
	display: grid;
	grid-template-columns: 320px 1fr;
}
main > section > aside,
main > section > section {
	padding: 1rem;
	overflow-y: auto;
}
main > section > aside {
	background-color: #CCC2;
	border-right: 1px solid #CCC;
}
main > section > aside .menu li {
	margin-bottom: 0.6rem;
	padding: 0 .6rem;
	height: 2.3rem;
	line-height: 2.5rem;
	border-radius: .3rem;
	opacity: .5;
	font-style: italic;
}
main > section > aside .menu li.active {
	background: #299872;
	color: #EEE;
	font-weight: 600;
	opacity: 1;
	font-style: normal;
}
main > section > section {
	background-color: #FFF;
}
main > section > section form {
	height: var(--height-form);
}
main > section > section form fieldset legend {
	font-weight: 600;
	font-size: 2rem;
	display: block;
	padding: 0.4rem 0;
}
main > section > section form fieldset p {
	display: block;
	padding: .4rem 0;
}
main > section > section form fieldset textarea {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 0.3rem;
	border-radius: .3rem;
	width: 100%;
	box-sizing: border-box;
	*height: calc(var(--height-form) - 8rem);
}
main > section > section form fieldset dl {
	display: grid;
	grid-template-columns: 230px 1fr;
}
main > section > section form fieldset dl:nth-child(2n+1) {
	background-color: #EEE;
}
main > section > section form fieldset dl > * {
	padding: .6rem;
}
main > section > section form fieldset dl dd {
	border-color: #CCC;
	border-style: none none none solid;
	border-width: medium medium medium 1px;
	color:#666;
}
main > section > section form fieldset dl dt span {
	display: block;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1rem;
}
main > section > section form fieldset dl dd input {
	width: 100%;
	padding: .4rem!important;
	box-sizing: border-box;
	border: 1px solid #CCC;
	background-color: #fff;
}
main > section > section form fieldset dl dd input::placeholder {
	font-style: italic;
	color: #888;
}
main > section > section form fieldset p:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}


/**
 * FOOTER
*/
main > footer {
	border-top: 1px solid #CCC;
	padding: 1rem;
	text-align: center;
	height: var(--height-footer);
}
main > footer a {
	color: var(--brown-dark)!important;
	font-weight: 600;
}
main > footer .bottom {
	font-size: 0.842rem;
}
main > footer .bottom a {
	display: inline-block;
	margin: 0 .3rem;
}

/**
 * INPUT BUTTON
*/
.gbqfb {
	background-color: #4D90FE;
	-moz-border-radius: .3rem;
	-webkit-border-radius: .3rem;
	border-radius: .3rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: white;
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
	height: 1.8rem;
	line-height: 1.8rem;
	padding: 0 2rem;
	font-weight: bolder;
}
.gbqfb:hover {
	background-color: #4787ED;
}

/**
 * ESTADOS
*/
span.status {
	font-weight: bold;
}
span.no {color:#bf0000;}
span.ok{color:green;}

/**
 * RADIO
*/
label.radio {
	height: 1.4rem;
	margin-top: 0.4rem;
	margin-right: 0.6rem;
	position: relative;
	display: flex;
	justify-content: flex-start;
	width: max-content
}
label.radio span {
	display: block;
	font-weight: 600;
	width: 60px;
}
label.radio input {
	border: transparent;
	background: transparent;
}
label.radio input::before {
	content: '';
	width: 1rem;
	height: 1rem;
	background-color: #B0CCFA;
	border-radius: 10em;
	position: absolute;
	top: .25rem;
	left: 0;
}
label.radio input:checked::before {
	background-color: #4D90FE;
}

.error {
	padding: 1rem 0;
	text-align: center;
	background-color: #FDBBBB;
}
.text-success {
	color: #0CAE64;
}
.text-danger {
	color: #AE0C0C;
}
.grid,
.grid > .col .permisos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: .5rem;
}
.grid > .col {
	margin-bottom: 1rem;
}
.grid > .col .permisos {
	grid-template-columns: 50px 1fr;
}
.grid > .col .permisos .icon * {
	font-size: 50px;
}
.grid > .col .data .status {
	display: block;
}